*{
    font-family: 'Oswald', sans-serif;
}
.product-image-card-slider{
    display: flex;
    gap:1.5rem;
    transition: transform 0.5s ease;
    border-radius: 2rem;
}
.product-image-card-slider img{
    border-radius: 2rem;
    
}
.product-image-card img{
    width: 100%;
    
}
.product-container{
    display: flex;
    margin: auto;
    width: max-content;
    height: fit-content;
}



h5{
    text-transform: uppercase;
    margin: 0;
    font-size: 14px;
}
ul{
    list-style: none;
    margin: 0;
    padding: 0;
}
a{
    text-decoration: none;
    color: #bbb;
}

.product-image-card{
    display: flex;
    flex-direction: column;
    align-items: center;
    background: linear-gradient(to bottom, #ffc800 0%, #212529 130%);
    border-radius: 20px 0 0 20px ;
    padding: 55px 0;
    margin: 0;
    width: 60%;
    max-width: 330px;
    overflow: hidden;
    padding: 1.5rem;
}
.product-pic{
    max-width: 180px;
    position: relative;
    left: 0;
    margin: 40px 0;
    filter: drop-shadow(-6px 40px 23px rgba(black, 0.5));
}
.product-details{
    padding: 40px;
    width: 100%;
    background: #212529;
    border-radius: 0 20px 20px 0;
    .title{
        text-transform: uppercase;
        margin: 0;
    }
    .colorCat{
        text-transform: uppercase;
        font-style: italic;
        color: #bbb;
        font-weight: 700;
        font-size: 14px;
    }
    .price{
        font-weight: 700;
        margin-top: 5px;
        font-size: 18px;
        width: fit-content;
        border-collapse: collapse;
        .current{
            color: white;
            margin-left: 6px;
        }
        .fee{
            color: #fe6168;
            margin-left: 6px;
        }
        .discount{
            color: #ffc800;
            margin-left: 6px;
        }
        >tbody tr td {
            padding-right: 15px; /* Adjust the value as per your desired spacing */
        }
    }
    .before{
        text-decoration: line-through;
        color: crimson;
    }
    header{
        margin-bottom: 50px;
        position: relative;
    }
    article{
        >h5{
            margin: 0;
        }
        >p{
            color: #bbb;
            margin: .5em 0;
            font-size: 14px;
            line-height: 1.6;
        }
    }
    .controls{
        margin: 3em 0;
        >div{
            flex: 1;
        }
        .option{
            margin-top: 12px;
            display: inline-block;
            position: relative;
            &:hover{
                color: #444444;
            }
            &::before{
                content: '';
                position: absolute;
                border-width: 2px 2px 0 0;
                border-style: solid;
                top: 0;
                bottom: 0;
                height: 5px;
                width: 5px;
                right: -18px;
                margin: auto;
                transform: rotate(135deg);
            }
        }
        >div+div{
            margin-top: 20px;
            flex: none;
        }
        ul{
            display: flex;
            margin: 15px 5px;
        }
        .color li{
            margin-left: 15px;
            .colors{
                width: 20px;
                height: 20px;
                border-radius: 50%;
                display: block;
            }
        }
    }

}

.product-details .rate a:hover
{
    color: #ffc800;
}
.dots{
    display: flex;
    margin-top: 40px;
    >a{
        background-color: #212529;
        width: 10px;
        height: 10px;
        margin: 0 4px;
        border-radius: 50%;
        &:hover,
            &.active{
            background-color: white;
        }
    }
    i{
        display: none;
    }
}

.product-details{
    .rate{
        position: static;
        top: 12px;
        right: 10px;
        margin-top: 0;
        width: fit-content;
    }
    .controls > div{
        &.qty{
            width: 60px;
        }
    }
    .controls > div + div{
        border-left: 2px solid rgba(#bbb, .5);
        padding-left: 25px;
        padding-right: 25px;
        width: 100px;
        margin-top: 0;
    }
    .controls{
        display: flex;
    }
}
.product-pic{
    left: -40px;
    max-width: 330px;
}

.product-footer{
    display: flex;
    justify-content: space-between;
    align-items: center;
    >button{
        display: flex;
        border: 0;
        padding: 15px 25px;
        align-items: center;
        border-radius: 7px;
        cursor: pointer;
        background: linear-gradient(to bottom, #1b1b19 0%, #fe6168 50%,#1b1b19 100%);
        box-shadow: 0 10px 30px 0 rgba(red, 0.7);
        transition: 200ms;
        &:hover{
            background: linear-gradient(to bottom, #1b1b19 0%, #23CE6B 50%, #1b1b19 100%);
        }
        >img{
            width: 31px;
        }
        >span{
            font-size: 18px;
            text-transform: uppercase;
            font-weight: 700;
            margin-left: 10px;
            color: white;
        }
    }
    >button.leave-offer-btn{
        &:hover{
            background: linear-gradient(to bottom, #1b1b19 0%, red 50%, #1b1b19 100%);
        }
    }
    >a{
        img{
            width: 24px;
            opacity: .8;
        }
        &:hover{
            img{
                opacity: 1;
            }
        }
    }
}